<!-- copy from login-->
<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <button class="btn btn-danger" (click)="logout()">logout</button>
</nav>
<!-- string interpolation -->
<h3 style="color: antiquewhite;">welcome {{user}}</h3>

    <a routerLink="/search">Search History</a>
    <button>Click me</button>






                
   
